[Unit]
Description=Checks MC server player connections
After=default.target

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/check4players.sh

[Install]
WantedBy=multi-user.target